<!DOCTYPE html>
<html ng-app="starterkit">

<head>
  <title>starterkit</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
  <div class="container">
        <h1>starterkit</h1>
        <div>
          <a href="/">Home</a> /
          <a href="/about">About</a>
        </div>
        <hr />

        <ui-view></ui-view>
  </div>


  <script src="/ngApp/bundle.js"></script>

</body>

</html>
